body{
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
}
#wrapper{
	height:33%;
	width:100%;
}
#footer{
	width:100%;
	clear:both;

}
#footerFloat{
	width: 33.333%;
	float: left;
	text-align: center;
	background-color: #666; 
	height: 180px;
}
#footerFloat ul{
	color: #ffffff;
	list-style: none;
	padding-left: 39%;
	text-align: left;
	font-size: 15px;
	font-family:"微軟正黑體", "標楷體";
}
#footerFloat a{
	text-decoration: none;
	color: #FFFFFF;
}
#footerFloat a:hover{
	text-decoration: none;
	color: #CCC;
}
